.card {
  max-width: 400px;
  width: 100%;
  border-bottom: 1px solid #111;
  margin: 40px 0;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.imgDiv {
  background-color: rgb(28, 29, 28);
}
.theImage {
  object-fit: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.h5 {
  margin: 10px 0;
  font-size: 20px;
}

.p {
  color: rgb(99, 98, 98);

  margin-bottom: 20px;
}
.header {
  margin-bottom: 0;
}
@media screen and (min-width: 750px) {
  .card {
    max-width: 250px;
    margin: 50px;
  }
  .mainContainer {
    text-align: center;
  }
  .container {
    text-align: left;
  }
}

.mainContainer {
  padding: 0 50px;
}

@media screen and (max-width: 900px) {
  .mainContainer {
    padding: 0 10px;
  }
}
