.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-direction: column;
  padding: 70px 20px;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper {
  background-color: #edae01;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.links p {
  margin: 10px;
  font-size: 18px;
  color: rgb(25, 25, 26);
}
.home {
  color: rgb(231, 231, 229);
  font-size: 20px;
  font-weight: 500;
}
.home span {
  color: #ed1101;
}

@media screen and (min-width: 580px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
  }
  .links {
    width: 60%;
    justify-content: flex-end;
  }
  .links p {
    margin: 10px 0 10px 40px;
  }
}
