.container {
  display: none;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  max-height: 100vh;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  background-color: #ffffff;
  left: 0;
  padding: 0 20px;
  z-index: 442;
}
.container::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.container::-webkit-scrollbar-track {
  border: 1px solid rgb(172, 171, 171);
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  background: #7c796f6e;
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
  background: #f8cd3e;
}

.link {
  padding: 10px 0;
  font-size: 20px;
  border-bottom: 1px solid #444;
  width: 100%;
  color: #cca02f;
}
