.table {
  font-size: 18px;
  border: 1px solid #787878;
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
}
.table tbody {
  font-family: "Poppins", sans-serif;
  text-align: left;
  border: 1px solid #787878;
}
.table tr {
  border: 1px solid #787878;
}
.table tr:nth-child(even) {
  background-color: rgb(250, 240, 201);
}
.table td {
  width: 50%;
  border: 1px solid #787878;
  padding: 14px;
}
