.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 90px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(238, 202, 44, 0.445);
}
.home {
  cursor: pointer;
  transition: all 0.3s ease;
}
.home span {
  color: rgb(223, 41, 41);
}

.home:hover {
  transform: translateY(-5px);
}
.home:active {
  color: rgb(27, 158, 105);
}
.navContainer {
  position: relative;
}
.list {
  position: absolute;
  background-color: rgba(212, 236, 212, 0.925);
  color: rgb(17, 68, 20);
  padding: 0;
  right: -60px;
  max-height: 77vh;
  overflow-y: scroll;
  top: 45px;
  z-index: 333;
}

.list li {
  text-align: center;
  width: 100%;
  font-size: 1.4rem;
  padding: 10px 53px;
  border-bottom: 1px solid grey;
  transition: all 0.4s ease;
}

.list li:hover {
  color: black;
  transform: translateY(-2px);
}
