.container {
  text-align: center;
}

.header {
  margin: 90px 0px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerDescription {
  margin: 40px;
}
.image {
  border-radius: 12px;
  object-fit: cover;
}
.imgContainer {
  border: 2px solid rgb(245, 172, 38);
  max-width: 460px;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}
.para {
  font-size: 23px;
}

.btn {
  margin: 50px 0;
}
.para span {
  color: rgba(255, 166, 0, 0.925);
}

.ingrediants {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.instructions {
  max-width: 630px;
}
.instructionsContainer {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instructions ul {
  text-align: left;
  font-family: "Poppins", sans-serif;
  padding: 0 30px;
  list-style: square;
}
.instructions li {
  font-size: 20px;
  margin: 25px 0;
}

@media screen and (max-width: 750px) {
  .headerDescription {
    margin: 20px 0;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .container {
    align-items: flex-start;
    text-align: left;
  }
  .ingrediants {
    text-align: left;
    align-items: flex-start;
  }
}
