.container {
  text-align: center;
}
.header {
  margin: 90px 0px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.headerDescription {
  margin: 40px;
}
.image {
  border-radius: 12px;
  object-fit: cover;
}
.imgContainer {
  border: 2px solid rgb(245, 172, 38);
  box-shadow: 0 0 33px 2px rgba(153, 153, 136, 0.425);
  width: 460px;
  overflow: hidden;
  border-radius: 12px;
}
.para {
  font-size: 26px;
}

.btn {
  margin: 50px 0;
}
.para span {
  color: rgba(255, 166, 0, 0.925);
}

@media screen and (max-width: 500px) {
  .headerDescription {
    margin: 20px 0;
  }
  .header {
    justify-content: flex-start;
  }
}
