@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

html,
body {
  overflow-x: hidden;
  margin: 0 auto;
  background-color: #fdfdf5;
  font-family: "Hammersmith One", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #222;
}
