.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 190px;
}
.leftContainer {
  margin: 20px 0;
  order: 2;
  width: 100%;
}
.rightContainer {
  order: 1;
  width: 100%;
}

.h1 {
  margin: 0;
  font-size: 2.5rem;
}
.p {
  font-weight: 300;
  width: 65%;
}

.bigMeal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.input {
  font-size: 19px;
  padding: 10px 15px;
  border-radius: 27px;
  border: 2px solid #edae01;
  width: 90%;
  max-width: 350px;
  margin-top: 20px;
  outline: 0;
  background: transparent;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: relative;
  left: -40px;
  top: 14px;
  cursor: pointer;
}
.input::placeholder {
  font-size: 17px;
}

@media screen and (min-width: 750px) {
  .container {
    flex-direction: row;
    align-items: center;
  }
  .leftContainer {
    order: 1;
    width: 60%;
  }
  .rightContainer {
    order: 2;
    width: 40%;
  }
  .h1 {
    font-size: 3.1rem;
  }
}
