.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 50px;
}
@media screen and (max-width: 900px) {
  .container {
    padding: 0 20px;
  }
}

.title {
  border-bottom: 5px solid #edae01;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  text-align: left;
  width: 300px;
  margin: 30px;
  border-radius: 4px;
  padding: 30px;
  border: 0.4px solid rgba(59, 59, 87, 0.185);
  background-color: rgba(255, 255, 255, 0.562);
}
.image {
  object-fit: cover;
}

@media screen and (max-width: 750px) {
}
